.footerContainer{
   color:white;
   height:50vh;
   margin:24px;
   border-radius: 30px;
   background: radial-gradient(100% 120% at 50% 100%, #000 0%, #2B0A4F 54.54%, #AF4DC9 100%);
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding-top:10vh;
   font-size:15px;
   font-weight: 500;
   gap:15vw;
}

.spanAndBarContainer{
   position:absolute;
   bottom:0px;
   width:500px;
   text-align: center;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 12px;

}

.footerContainer span{
   
   font-size:18px;
   opacity:0;
}

.iphoneBar{
   min-width:200px;
   width: 15vw;
   height: 4px;
   flex-shrink: 0;
   background-color:#fff;
   border-radius: 12px;
   opacity:0.5;
}



.iconAndLinkDiv{
   display: flex;
   align-items: center;
   gap:12px;
   margin-bottom:12px;
}



.footerContainer h3{
   font-size:19px;
   margin-bottom:36px;
   font-weight: 800;
}


.footerContainer a{
   color:rgb(255, 255, 255);
   text-decoration: none;
   transition:all 0.3s ease;
}

.footerContainer a:hover{
   text-decoration: underline;
}






.footerContainer svg{
   width:22px;
   height:22px;
}

