.heroMainDiv{
	position:relative;
	height:100vh;
	width:100vw;
	min-height:800px;
	background-image:radial-gradient(circle at center bottom, black 80%, #2B0A4F 100%, #AF4DC9 160%, #F9A2F0 220%);
	background-size:100% 250%;
  	background-position: center top; 
	display:flex;
	flex-direction:column;
	align-items: center;
}

.heroH2{
	position:relative;
	margin-top:150px;
	font-size: 24px;
	font-weight: 600;
	color:var(--dim-pink);
	margin-bottom:24px;
}
.heroH1{
	position:relative;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -1.5%;
	color:var(--main-pink);
	text-align: center;
	margin-bottom:36px;
}

.heroParagraph{
	position:relative;
	color:var(--dim-pink);
	width:560px;
	font-size: 20px;
	font-weight:600;
	text-align:center;
	letter-spacing: -4%;
}

.iconsBox{
	position:absolute;
	width:100vw;
	height:auto;
	border:1px solid red;
	left:0px;
	top:60%;
	transform: translateY(-50%);
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	overflow: show;
}



.bottomCtasDiv{
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:20px;
}

.navLink{
   font-weight: 600;
   color:var(--dim-pink);
   text-decoration: none;
   transition:color 0.25s ease;
}

#clickableP:hover{
	cursor:pointer;
}