.heroMainDiv{
	position:relative;
	height:100vh;
	width:100vw;
	min-height:800px;
	background-image:radial-gradient(circle at center bottom, black 80%, #2B0A4F 100%, #AF4DC9 160%, #F9A2F0 220%);
	background-size:100% 250%;
  	background-position: center top; 
	display:flex;
	flex-direction:column;
	align-items: center;
	font-family: inherit;
}

.heroH2{
	position:relative;
	margin-top:150px;
	color:var(--dim-pink);
	margin-bottom:24px;
}
.heroH1{
	position:relative;
	letter-spacing: -1.5%;
	background-image:radial-gradient(circle at center, var(--main-pink),#E402E9 90%, black 110%);
	color:transparent;
	background-clip: text;
	text-align: center;
	margin-bottom:36px;
}

.heroParagraph{
	position:relative;
	color:var(--dim-pink);
	width:560px;
	text-align:center;
	letter-spacing: -4%;
}

.iconsBox{
	position:absolute;
	width:100vw;
	height:auto;
	left:0px;
	top:60%;
	transform: translateY(-50%);
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	overflow: show;
	gap:0.5vmin;
}

.iconsBox > * {
	flex-shrink: 0;
	
}

.icon{
	position:relative;
	opacity:1;
	z-index:1;
}



.iconsBox .icon:nth-child(1){ /* Illustrator Icon */
	top:-8vmax;
	scale:1.4;
	/* opacity:0.4; */
}




.iconsBox .icon:nth-child(2){ /* HTML Icon */
	top:10vmax;
	scale:1;
	/* opacity:0.4; */
	
}

.iconsBox .icon:nth-child(3){ /* Figma Icon */
	top:-5vmax;
	scale:0.9;
	/* opacity:0.6; */
}
.iconsBox .icon:nth-child(4){ /* Sass Icon */
	top:6vmax;
	scale:0.9;
	/* opacity:0.6; */
}
.iconsBox .icon:nth-child(5){ /* Ae Icon */
	top:-3vmax;
	scale:0.7;
	/* opacity:0.75; */
}

.iconsBox .icon:nth-child(6){ /* Gsap Icon */
	top:7vmax;
	scale:0.7;
	/* opacity:0.75; */
}
.iconsBox .icon:nth-child(7){ /* Photoshop Icon */
	top:-2vmax;
	scale:0.6;
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(8){ /* CSS Icon */
	top:3.5vmax;
	scale:0.6;
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(9){ /* Typescript Icon */
	scale:0.55;
	/* opacity:0.7; */
}

.iconsBox .icon:nth-child(10){ /* React Icon */
	scale:0.55;
	margin-left: 5vw;
}
.iconsBox .icon:nth-child(11){ /* Next Icon */
	scale:0.55;
	margin-right:5vw;
}

.iconsBox .icon:nth-child(12){ /* Node Icon */
	scale:0.55;
	/* opacity:0.7; */
}

.iconsBox .icon:nth-child(13){ /* Prisma Icon */
	top:3.5vmax;
	scale:0.6;
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(14){ /* Express Icon */
	top:-2vmax;
	scale:0.6;
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(15){ /* Seo Icon */
	top:7vmax;
	scale:0.7;
	/* opacity:0.75; */
}

.iconsBox .icon:nth-child(16){ /* Redux Icon */
	top:-3vmax;
	scale:0.7;
	/* opacity:0.75; */
}

.iconsBox .icon:nth-child(17){ /* GraphQl Icon */
	top:6vmax;
	scale:0.9;
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(18){ /* Mongo Icon */
	top:-5vmax;
	scale:0.9;
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(19){ /* Postman Icon */
	top:10vmax;
	scale:1;
	/* opacity:0.4; */
}
.iconsBox .icon:nth-child(20){ /* Firebase Icon */
	top:-8vmax;
	scale:1.4;
	/* opacity:0.4; */
}



.bottomCtasDiv{
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:20px;
}

.navLink{
   color:var(--dim-pink);
   text-decoration: none;
   transition:color 0.25s ease;
}

.navLink:hover{
	cursor:pointer;
	color:var(--main-pink); 
	
}


@media only screen and (max-width:734px){

	.heroH1{
		font-size:40px;
		font-weight:600;
	}

	.heroH2{
		font-size:28px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:24px;
		font-weight:600;
	}

	.navLink{
		font-weight: 600;
		font-size:24px;
	}
}

@media only screen and (max-width:1068px){
	.heroH1{
		font-size:48px;
		font-weight:600;
		
	}

	.heroH2{
		font-size:28px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:24px;
		font-weight:600;
	}

	.navLink{
		font-weight: 600;
		font-size:24px;
	}
}

@media only screen and (min-width:1069px){
	.heroH1{
		font-size:48px;
		font-weight:800;
	}

	.heroH2{
		font-size:24px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:19px;
		font-weight:600;
	}

	.navLink{
		font-weight: 600;
		font-size:18px;
	}
}

