.heroMainDiv{
	position:relative;
	height:100vh;
	width:100vw;
	min-height:800px;

	background-image:radial-gradient(circle at center bottom, black 30%, #2B0A4F 60%, #AF4DC9 90%, #F9A2F0 120%);
	background-size:120% 250%;
  	background-position: center top; 
	display:flex;
	flex-direction:column;
	align-items: center;
	font-family: inherit;
}

.heroH2{
	position:relative;
	margin-top:150px;
	color:var(--dim-pink);
	margin-bottom:24px;
	transform:scale(1.7);
	filter:blur(8px);
	opacity:0;
	z-index: 2;
}

.heroH1{
	filter:blur(3px);
	position:relative;
	
	transform:scale(1.7);
	background-image:radial-gradient(circle at center, #FD95FF 0%, #fc3dff 1%, transparent 2%);
	opacity: 0;
	color:transparent;
	background-clip: text;
	text-align: center;
	margin-bottom:36px;
	z-index: 2;
	
}



.heroParagraph{

	z-index: 2;
	transform:scale(1.4);
	filter:blur(8px);
	position:relative;
	color:var(--dim-pink);
	max-width:500px;
	text-align:center;
	opacity:0;

}

.iconsBox{
	position:absolute;
	width:100vw;
	height:auto;
	left:0px;
	top:65%;
	transform: translateY(-50%);
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	overflow: show;
	gap:0.5vmin;
	
	box-sizing: border-box;
	z-index: 1;
}

.shadow{
	
	width:100vw;
	height:55vh;
	position:absolute;
	top:45%;
	left:0px;
	opacity: 0;
	
	z-index:1;
	background-size: 100% 200%;
	background-position: center center;
	background-image: radial-gradient(ellipse at center 40%, transparent 55%,black 75%) 
	
}

.iconsBox > * {
	flex-shrink: 0;
	
}

.icon{
	position:relative;
	opacity:0;
	z-index:1;
	filter:blur(10px),
}



.iconsBox .icon:nth-child(1){ /* Illustrator Icon */
	top:-90px;
	transform:scale(0.8);
	/* opacity:0.4; */
}

.iconsBox .icon:nth-child(2){ /* HTML Icon */
	top:10vmax;
	transform:scale(0.7);
	/* opacity:0.4; */	
}

.iconsBox .icon:nth-child(3){ /* Figma Icon */
	top:-60px;
	transform:scale(0.6);
	/* opacity:0.6; */
}
.iconsBox .icon:nth-child(4){ /* Sass Icon */
	top:6vmax;
	transform:scale(0.55);
	/* opacity:0.6; */
}
.iconsBox .icon:nth-child(5){ /* Ae Icon */
	top:-30px;
	transform:scale(0.55);

	/* opacity:0.75; */
}

.iconsBox .icon:nth-child(6){ /* Gsap Icon */
	top:7vmax;
	transform:scale(0.5);
	/* opacity:0.75; */
}
.iconsBox .icon:nth-child(7){ /* Photoshop Icon */
	top:-2vmax;
	transform:scale(0.45);
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(8){ /* CSS Icon */
	top:3.5vmax;
	transform:scale(0.4);
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(9){ /* Typescript Icon */
	transform:scale(0.35);
	top:-10px;

	/* opacity:0.7; */
}

.iconsBox .icon:nth-child(10){ /* React Icon */
	transform:scale(0.3);
	margin-left: 5vw;
}
.iconsBox .icon:nth-child(11){ /* Next Icon */
	transform:scale(0.3);
	margin-right:5vw;
}

.iconsBox .icon:nth-child(12){ /* Node Icon */
	transform:scale(0.35);

	/* opacity:0.7; */
}

.iconsBox .icon:nth-child(13){ /* Prisma Icon */
	transform:scale(0.4);
	top:3.5vmax;
	
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(14){ /* Express Icon */
	top:-2vmax;
	transform:scale(0.45);
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(15){ /* Seo Icon */
	top:7vmax;
	transform:scale(0.5);
	/* opacity:0.75; */
}

.iconsBox .icon:nth-child(16){ /* Redux Icon */
	top:-3vmax;
	transform:scale(0.55);
	/* opacity:0.75; */

}


.iconsBox .icon:nth-child(17){ /* GraphQl Icon */
	top:6vmax;
	transform:scale(0.55);
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(18){ /* Mongo Icon */
	top:-5vmax;
	transform:scale(0.6);
	/* opacity:0.6; */
}

.iconsBox .icon:nth-child(19){ /* Postman Icon */
	top:10vmax;
	transform:scale(0.7);
	/* opacity:0.4; */
}
.iconsBox .icon:nth-child(20){ /* Firebase Icon */
	top:-80px;
	transform:scale(0.8);
	scale:1.4;
	position: relative;
	z-index:1;
	/* opacity:0.4; */
}




.bottomCtasDiv{
	position:absolute;
	top:85%;
	left:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:20px;
	z-index: 2;
}

.bottomCtasDiv button{
	opacity:0;
}

.navLink{
   color:var(--dim-pink);
   text-decoration: none;
   transition:color 0.25s ease;
}

.navLink.stagger{
	opacity:0;
}

.navLink:hover{
	cursor:pointer;
	color:var(--main-pink); 
	
}





@media only screen and (max-width:320px){

	.heroH1{
		font-size:34px;
		font-weight:800;
	}

	.heroH2{
		font-size:18px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:16px;
		font-weight:600;
		max-width:90vw;
	}

	.navLink{
		font-weight: 600;
		font-size:17px;
	}
}



@media only screen and (min-width:321px) and (max-width:470px){

	.heroH1{
		font-size:42px;
		font-weight:800;
	}

	.heroH2{
		font-size:28px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:24px;
		font-weight:600;
	}

	.navLink{
		font-weight: 600;
		font-size:24px;
	}
}



@media only screen and (min-width:471px) and (max-width:734px){

	.heroH1{
		font-size:44px;
		font-weight:800;
	}

	.heroH2{
		font-size:28px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:24px;
		font-weight:600;
	}

	.navLink{
		font-weight: 600;
		font-size:24px;
	}
}

@media only screen and (min-width:735px) and (max-width:1068px){
	.heroH1{
		font-size:54px;
		font-weight:800;
		
	}

	.heroH2{
		font-size:28px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:24px;
		font-weight:600;
	}

	.navLink{
		font-weight: 600;
		font-size:24px;
	}
}

@media only screen and (min-width:1069px){
	.heroH1{
		font-size:66px;
		font-weight:800;
	}

	.heroH2{
		font-size:19px;
		font-weight:600;
	}

	.heroParagraph{
		font-size:18px;
		font-weight:500;
	}

	.navLink{
		font-weight: 600;
		font-size:18px;
	}
}

