.mainContainer{
   width:40vw;
   height:8vw;
   background-color:#2C2C2C;
   border-radius: 15px ;
   overflow: show;
   position:relative;
   

}

.navbar{
   background-color:#151515;
   width:100%;
   height:20%;
   display:flex;
   align-items: center;
   position:relative;
   top:0px;
   gap:6px;
   padding-left:1.5%;
   border-radius: 15px 15px 0 0;
   box-sizing: border-box;
   
}

.circle{
   width:12px;
   height:12px;
   border-radius:50%;
   background-color: antiquewhite;
   transition:0.2s;
}

.circle:hover{
   cursor: pointer;
}

.circle:nth-of-type(1){
   background-color: #0089D7;
}
.circle:nth-of-type(1):hover{
   background-color: #00a2ff;
}

.circle:nth-of-type(2){
   background-color: #C1C1C1;
}
.circle:nth-of-type(2):hover{
   background-color: #e9e9e9;
}


.circle:nth-of-type(3){
   background-color: #5BFFE2;
}
.circle:nth-of-type(3):hover{
   background-color: #a2ffee;
}

.terminalText{
   position:relative;
   top:15%;
   width:100%;
   box-sizing: border-box;
   padding-left: 10%;
}

.popup{
   
   
   position:absolute;
   background-color: white;
   color:grey;
   z-index:10;
   top:-50%;
   left:-36px;
   width:auto;
   padding:12px;
   height:auto;
   border-radius: 24px;
}
