.stackDiv{
   
   flex-shrink:0;
   display:flex;
   align-items: center;
   box-sizing: border-box;
   position: relative;
   padding:8vh 0px;
}

.stackDiv.someMoreThingsDiv{
   width:300vw;
}


.stackDiv .generalIcon{
   /* border:2px solid white; */
   margin:unset;
   flex-shrink: 0;
   height: 48px;
   width: 48px;
   opacity: 1;
   left:0px;
}


.generalContainer{
   display:flex;
   /* border:2px solid red; */
   width:auto;
   position:relative;
   min-height: 190px;
   margin:0px 10vw;
}


/* Direction */


.generalContainer.bottomToTop{
   flex-direction: column-reverse;
   
}
.generalContainer.topToBottom{
   flex-direction: column;
}

div.topToBottom .barAndTextContainer {
   align-items:flex-end;
}


/* Left-right-alignment */


.generalContainer.leftAlign{
   align-items: left;
}

.generalContainer.rightAlign{
   align-items: right;
   text-align: right;
   
}



.leftAlign .barAndTextContainer{
   flex-direction: row-reverse;
   justify-content: left;
}

.rightAlign .barAndTextContainer{
   flex-direction: row;
   justify-content: flex-end;
   margin-left:auto;
   
   
}
.rightAlign .generalIcon{
   margin-left: auto;
}




.barAndTextContainer{
   display:flex;
   height:100%;
   /* border:3px solid grey;  */
   position:relative;
   word-wrap: break-word;
   width:300px;
    
}


.popupBar{
   height:100%;
   width:3px;
   border-radius:3px;
   box-sizing: border-box;

}


.text {
   white-space: normal;
   flex-wrap: wrap;
   top:0px;
   width:100%;
   height:auto;
   /* border:1px solid green; */
}



p.text .textSpan{
   font-weight:600;
}

.title{
   font-weight:700;
}
















/* Handling of the colors and the dimensions*/
.generalContainer:nth-of-type(1){
   height:20vh;
}

.generalContainer:nth-of-type(1) .popupBar{
   background-color: white;
}

.text.expressText{
   color:rgba(255, 246, 225,0.5);;
}

.title.expressTitle{
   color:#FFF6E1;
}


.textSpan.expressTextSpan{
   color:#FFF6E1;
}

/* Redux */

.generalContainer:nth-of-type(2){
   height:30vh;
}

.generalContainer:nth-of-type(2) .popupBar{
   background-color: #764ABC;
}

.text.reduxText{
   color:rgb(255, 255, 255);
}

.title.reduxTitle{
   color:#764ABC;
}


.textSpan.reduxTextSpan{
   color:#764ABC;
}

/* Gsap */

.generalContainer:nth-of-type(3){
   height:30vh;
}

.generalContainer:nth-of-type(3) .popupBar{
   background-color: #8AC640;
}

.text.gsapText{
   color:white;
}

.title.gsapTitle{
   color:#8AC640;
}


.textSpan.gsapTextSpan{
   color:#8AC640;
}

/* Three JS */

.generalContainer:nth-of-type(4){
   height:30vh;
}

.generalContainer:nth-of-type(4) .popupBar{
   background-color: white;
}

.text.threeText{
   color:rgb(166, 166, 166);
}

.title.threeTitle{
   color:#ffffff;
}


.textSpan.threeTextSpan{
   color:#ffffff;
}

/* Postman */

.generalContainer:nth-of-type(5){
   height:30vh;
}

.generalContainer:nth-of-type(5) .popupBar{
   background-color: #FF6C37;
}

.text.postmanText{
   color:rgb(255, 255, 255);
}

.title.postmanTitle{
   color:#FF6C37;
}


.textSpan.postmanTextSpan{
   color:#FF6C37;
}



/* Stripe */

.stackDiv .generalIcon.stripeIcon{
   width:unset;
}

.generalContainer:nth-of-type(6){
   height:30vh;
}

.generalContainer:nth-of-type(6) .popupBar{
   background-color: #635BFF;
}

.text.githubText{
   color:rgb(255, 255, 255);
}

.title.githubTitle{
   color:#635BFF;
}


.textSpan.githubTextSpan{
   color:#635BFF;
}

/* Github */


.generalContainer:nth-of-type(7){
   height:30vh;
}

.generalContainer:nth-of-type(7) .popupBar{
   background-color: #CE2CFF;
}

.text.githubText{
   color:rgb(255, 255, 255);
}

.title.githubTitle{
   color:#CE2CFF;
}


.textSpan.githubTextSpan{
   color:#CE2CFF;
}






/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
	
}

/* Small devices (tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  
}

/* Medium devices (laptops, desktops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  
}

/* Large devices (large laptops, desktops) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  
}

/* Extra large devices (larger laptops, desktops) */
@media only screen and (min-width: 1201px) {

   .rightAlign .text{
      padding:0px 10px 0px 0px;
   }

   .rightAlign .generalIcon {
      margin-left: auto; 
   }

   .leftAlign .text{
      padding:0px 0px 0px 10px;
   }

   .text {
      font-size:19px;
      padding:0px 0px 0px 10px;
   }

   .title{
      font-size:20px;
      padding:12px 0px;
   }
}