/* .overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
}
 */

.horizontalWrapper{
   position:absolute;
   top:0;
   left:100vw;
   height:100vh;
   width:100vw;
   background-color: black;
   z-index:100;
   color:white;
   display:flex;
   overflow-x:scroll;
   overflow-y: hidden;
   white-space: nowrap;
   box-sizing: border-box;  
}

.horizontalWrapper::-webkit-scrollbar{
   display:none;
}


.progressBarAndCloseDiv{
   position: absolute;
   padding:0px 10vw;
   bottom: 20px;
   width:100vw;
   height:48px;
   left:0px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   z-index: 10000;
   gap:48px;

}

.progressBar{
   width:100%;
   max-width:1920px;
   background-color:rgb(40, 40, 40);
   height:3px;
   border-radius:2px;
   position:relative;
}

.progressBarIndicator{
   height:100%;
   position:absolute;
   border-radius:2px;
   left:0px;
   top:0px;
   background-color: rgb(255, 255, 255);
}

.closeIcon{
   width:48px;
   height: 48px;
   fill:rgb(40, 40, 40);
   transition:fill 0.35s ease;

}

.closeIcon:hover{
   cursor:pointer;
   fill:white;
}



/* General styling */



.stackDiv{
   width:75vw;
   flex-shrink:0;
   display:flex;
   flex-direction:column;
   align-items: center;
   box-sizing: border-box;
   position: relative;
   padding:8vh 0px;
   border:2px solid salmon;
}




.stackDiv .generalIcon{
   /* border:2px solid white; */
   margin:unset;
   scale:0.6;
   opacity: 0;
}

.stackDiv .generalH2{
   position:relative;
   font-weight: 600;
   font-size:38px;
   
   /* border:2px solid green; */
   
}



.stackDiv .generalP{
   position: relative;
   width: 40vw;
   display: inline-block;
   word-wrap: break-word;
   white-space: normal;
   text-align:center;
   font-weight: 500;
   font-size:24px;
   margin:0px 0px 5vh 0px;
   
}

.stackDiv .generalP.introP{
   position:relative;
   top:50%;
   transform:translateY(-50%);
}


/* General styling */
/* Intro section */

.introDiv{
   width:100vw;
   min-width: 100vw;
}

.word{
   opacity:0;
   position:relative;
   top:15px;
   color:white;
}

/* Intro section */
/* Figma Section */

.figmaH2{
   color:#FFC5B5;
   margin:unset;
   padding:unset;
   margin:0px 0px 5vh 0px;
   opacity: 0;
}

.figmaP{
   color: #FFC5B5;
   opacity: 0;
}

.figmaP span{
   color:#FF814A;
   font-weight: 600;
}

.mockupContainer{
   width: calc(50vh*(1370/835)) ;
   height:50vh;
   position:relative;
   z-index:100;
   opacity:0;
}

.mockupContainer::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 50vh;
   z-index: 99;
   background: radial-gradient(ellipse at top, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 65%);
   background-size: 300% 100%; 
   /* border: 2px solid blue; */
   box-sizing: border-box;  
   background-position: center;
}



/* Figma Section */
/* Photoshop Section */


.stackDiv:nth-of-type(3){ /*Photoshop Div*/
   padding:8vh 0px 0px 0px;
   /* border: 2px solid red; */
   margin-right: 25vw;
}
.stackDiv:nth-of-type(4){ /*Illustrator Div*/
   padding:8vh 0px 0px 0px;
   /* border: 2px solid red; */
   margin-right: 25vw;
}



.photoshopH2{
   background-image: radial-gradient(ellipse at center top, #31A8FF 20%, #001E36 70% );
   background-size: 300% 100%;
   background-position:center ;
   color:transparent;
   background-clip: text;
   margin:unset;
   padding:unset;
   margin:0px 0px 5vh 0px;
   opacity:0;
}

.photoshopP{
   opacity:0;
   color: #416887;
}

.photoshopP span{
   color:#84CBFF;
}

.ballerinaImageContainer{
   /* border:2px solid blue; */
   aspect-ratio: calc(4000/4854);
   height: 70vh;
   bottom:-7.5vh;
   position:absolute;
   z-index:100;
   opacity: 1;
}

.ballerinaImageContainer::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 65vh;
   z-index: 99;
   background: radial-gradient(ellipse at top, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 65%);
   background-size: 300% 100%; 
   /* border: 2px solid blue; */
   box-sizing: border-box;  
   background-position: center;
}

.coloredBallerinaImageContainer{
   /* border:2px solid blue; */
   aspect-ratio: calc(4000/4854);
   height: 70vh;
   z-index:101;
}
.coloredBallerinaImageContainer::after{
   content: "";
   position: absolute;
   width: 100%;
   height: 65vh;
   z-index: 99;
   background: radial-gradient(ellipse at top, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 65%);
   background-size: 300% 100%; 
    
   box-sizing: border-box;  
   background-position: center;
}


.maskDiv{
   opacity:0;
   height:70vh;
   top:37.5vh;
   position:absolute;
   z-index:101;
   overflow: hidden;
   background-color: black;
}


/* Photoshop Section */
/* Illustrator Section */

.stackDiv .illustratorP{
   color:rgb(30, 30, 30);
   text-align: left;
   width:35vw;
}

.illustratorP span{
   color:#FF9A00;
}

.illustratorH2{
   background-image: radial-gradient(ellipse at center top, #FF9A00 20%, #330000 100% );
   background-size: 300% 100%;
   background-position:center ;
   color:transparent;
   background-clip: text;
   margin:unset;
   padding:unset;
   margin:0px 0px 5vh 0px;
   opacity:1;
}

.generalIcon.illustratorIcon{
   opacity:1;
}

.illustratorSmokeCloud{
   height:120vh;
   position:absolute;
   aspect-ratio: calc(998/870);
   left:50%;
   top:-2.5vh;
   transform:translateX(-48%);
   
}

/* Illustrator Section */
/* Midjourney Section */

.midjourneyIconContainer{
   width:48px;
   height: 48px;
   
}

.midjourneyH2{
   background-image: white;
   margin:unset;
   padding:unset;
   margin:0px 0px 5vh 0px;
   opacity:1;
}

.queenOfHeartsDiv{
   position:absolute;
   top:35vh;
   height:65vh;
   aspect-ratio: 1;
   
}

.queenOfHeartsDiv::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 65vh;
   z-index: 99;
   background: radial-gradient(ellipse at top, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 60%);
   background-size: 300% 100%; 
   /* border: 2px solid blue; */
   box-sizing: border-box;  
   background-position: center;
}

.stackDiv .generalP.midjourneyP{
   width:50vw;
   color:rgb(163, 163, 163);
}

.stackDiv .generalP.midjourneyP span{
   color:white;
}

.stackDiv .generalP.midjourneySubP{
   position:absolute;
   color:transparent;
   background-image: radial-gradient(circle at bottom right, rgb(58, 58, 58) 0%, white 100%);
   font-size:16px;
   width:15vw;
   text-align: left;
   bottom:25vh;
   left:15%;
   background-clip: text;
   
   

}
/* Midjourney Section */
/* React and Next JS Section */

.iconsContainer{
   display:flex;
   gap:15px;
   padding:0px 0px 0px 10px;
   box-sizing: border-box;
   
   
}


/* React and Next JS Section */

.generalIcon.reactIcon{
   opacity:1;
}

.generalIcon.nextIcon{
   opacity:1;
}
/* React and Next JS Section */
/* ///////////////////////////// */





/* ///////////////////// */
/* Languages */

/* Languages */
/* ///////////////////// */






/* ///////////////////// */
/* Back end */


/* Back end */
/* ///////////////////// */




/* ///////////////////// */
/* Some more things */

.stackDiv.someMoreThingsDiv{
   min-width: 300vw;
}

/* Some more things */
/* ///////////////////// */




@media only screen and (max-width:734px){

}

@media only screen and (min-width:1068px) and (max-width:1068px){

}

@media only screen and (min-width:1069px){
   .stackDiv h2{
      font-size:42px;
   }
   .stackDiv p{
      font-size:20px;
   }
}

@media only screen and (max-width:1068px){
   .closeIcon{
      width:48px;
      height:48px;
   }
}