.overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
}
.horizontalWrapper{
   position:absolute;
   top:0;
   left:100vw;
   height:100vh;
   width:100vw;
   background-color: black;
   z-index:100;
   color:white;
   display:flex;
   overflow-x:scroll;
   overflow-y: hidden;
   white-space: nowrap;
   box-sizing: border-box;  
}

.horizontalWrapper::-webkit-scrollbar{
   display:none;
}



.dummy{
   width:300px;
   height:300px;
   background-color: rgb(90, 90, 90);
   flex-shrink:0;
   margin:20px;
   
}

.progressBarAndCloseDiv{
   position: absolute;
   padding:0px 10vw;
   bottom: 20px;
   width:100vw;
   height:48px;
   left:0px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;

}

.progressBar{
   width:100%;
   max-width:1020px;
   background-color:rgb(32, 32, 32);
   height:3px;
   border-radius:2px;
   position:relative;
}

.progressBarIndicator{
   height:100%;
   position:absolute;
   border-radius:2px;
   left:0px;
   top:0px;
   background-color: rgb(125, 125, 125);
}

.closeIcon{
   width:48px;
   height: 48px;
   fill:rgb(32, 32, 32);
   transition:fill 0.35s ease;

}

.closeIcon:hover{
   cursor:pointer;
   fill:rgb(121, 121, 121);
}






.stackDiv{
   width:100vw;
   flex-shrink:0;
   /* border:2px solid antiquewhite; */
   display:flex;
   flex-direction:column;
   align-items: center;
   box-sizing: border-box;
}

.stackDiv .figmaIcon{
   top:10%;
   scale:0.8;
}

.stackDiv .figmaH2{
   position:absolute;
   color:#FFC5B5;
   top:20%;
   font-weight: 600;
}

.stackDiv .figmaP{
   position: absolute;
   top: 35%;
   color: #FFC5B5;
   width: 40vw;
   display: inline-block;
   word-wrap: break-word;
   white-space: normal;
   
   text-align:center;
   font-weight: 500;
}

.stackDiv .figmaP span{
   color:#FF814A;
   font-weight: 600;
}





@media only screen and (max-width:734px){

}

@media only screen and (min-width:1068px) and (max-width:1068px){

}

@media only screen and (min-width:1069px){
   .stackDiv h2{
      font-size:42px;
   }
   .stackDiv p{
      font-size:20px;
   }
}

@media only screen and (max-width:1068px){
   .closeIcon{
      width:48px;
      height:48px;
   }
}