.mainContainer{
   width:100vw;
   height:100vh;
   background-color: rgb(13, 13, 13);
   box-sizing: border-box;
   padding:10vh 20vw;
}

.projectsContainer {
   max-width: 940px;
   margin-top: 56px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(236px,1fr));
   grid-row-gap: 22px;
   grid-column-gap: 22px;
}


.backSide{
   
   width:100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   aspect-ratio: 382.5/297;
   border-radius:18px;
   
}

.backSide svg{
   position:absolute;
   top:0px;
   left:0px;
   height:100%;
   width:100%;
}

.content{
   width:90%;
   height:88%;
   border-radius:22px;
   position:absolute;
   background-color: white;
   padding:20px;
   box-sizing: border-box;
}

svg.closeIcon{
   width:10px;
   height: 10px;
   position:absolute;
   top:15px;
   left:15px;
   cursor:pointer;
   
}

.frontSide{
   aspect-ratio: 383/249;
   width:inherit;
   background-color:#00D1FF;
   position:relative;
   bottom:0px;
   border-radius: inherit;
   transition:all 0.2s ease-out;
   transform-origin: bottom;
   transform-style: preserve-3d;
   cursor:pointer;
   z-index: 2;
}

@media only screen and (max-width:823px){
   .projectsContainer{

      grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
   }
}

.mainContainer h3{
   display:inline-block;
   font-size:32px;
   color:transparent;
   background-clip: text;
   background-image: linear-gradient(to right, rgb(29, 255, 199),rgb(42, 184, 255));
   background-size:100% 100%;
}

.projectCardContainer{
   width:100%;
   aspect-ratio: 1;
   border-radius:18px;
}
.projectCardContainer:hover .frontSide{
   
   transform: perspective(1000px) rotateX(-15deg) scaleY(0.96);

}