.mainContainer{
   width:100vw;
   height:auto;
   background-color: rgb(13, 13, 13);
   box-sizing: border-box;
   padding:10vh 20vw;
}

.mainContainer h3{
   display:inline-block;
   font-size:56px;
   font-weight: 700;
   color:transparent;
   background-clip: text;
   background-image: linear-gradient(to right, rgb(29, 255, 199),rgb(42, 184, 255));
   background-size:100% 100%;
}

/* Styling of the grid */

.projectsContainer {
   max-width: 940px;
   margin-top: 56px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(236px,1fr));
   grid-row-gap: 22px;
   grid-column-gap: 22px;
   position:relative;
   z-index: 1;
}


/* Styling of the single cell */

.projectCardContainer{
   width:100%;
   aspect-ratio: 1;
   border-radius:18px;
   /* border:1px solid red; */
   color:#02455A;
}

.backSide{
   width:100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   aspect-ratio: 382.5/297;
   border-radius:18px;
   
}

.backSide svg{
   position:absolute;
   top:0px;
   left:0px;
   height:100%;
   width:100%;
}

.content{
   width:90%;
   height:88%;
   border-radius:12px;
   position:absolute;
   background-color: black;
   overflow: hidden;
   box-sizing: border-box;
   display:flex;
   color:white;
   
}

.content .contentLeftDiv{
   height:100%;
   width:30%;
   background-color: black;
   box-sizing: border-box;
   transform-origin: right;
   display:flex;
   padding:3% 3%;
   flex-direction: column;
}

.content .contentLeftDiv h2{
   opacity:0;
   top:20px;
   margin-top: 12%;
}
.content .contentLeftDiv p{
   opacity:0;
   top:20px;
   margin-top: 3%;
   font-size:16px;
   font-weight: 500;
   color:rgb(153, 153, 153);
}


.content .contentRightDiv{
   box-sizing: border-box;
   height:100%;
   width:70%;
   transform-origin: left;
   opacity:0.3;
   
}

.stackIconsContainer{
   width:100%;
   height:auto;
   margin-top:20%;
   display:flex;
   gap:12px;
   align-items: center;
   justify-content: flex-start;
}

.stackIconsContainer .iconBox{
   width:24px;
   height:24px;
   
   box-sizing: border-box;
}
   

.stackIconsContainer .iconBox > *{
   opacity: 1;
   height:100%;
   
}


svg.closeIcon{
   z-index: 10;
   width:16px;
   height: 16px;
   transform:scale(0.7);
   position:absolute;
   top:16px;
   left:16px;
   cursor:pointer;
   opacity: 0; 
   fill:rgb(153, 153, 153);
   transition:fill 0.2s ease;
}

svg.closeIcon:hover{
   fill:white;
}

.frontSide{
   aspect-ratio: 383/249;
   width:inherit;
   background-color:#00D1FF;
   position:relative;
   bottom:0px;
   border-radius: inherit;
   transition:all 0.2s ease-out;
   transform-origin: bottom;
   transform-style: preserve-3d;
   cursor:pointer;
   z-index: 2;
   box-sizing: border-box;
   padding:18px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: baseline;
}

.frontSide:hover{
   transform: perspective(1000px) rotateX(-15deg) scaleY(0.96);
}

.frontSide h4{
   font-size: 22px;
   white-space: normal;
   width:60%;

}

@media only screen and (max-width:823px){
   .projectsContainer{

      grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
   }
}


