.mainContainer{
   width:100vw;
   height:auto;
   min-height:800px;
   background-color: rgb(255, 255, 255);
   background-position: 0 0,0 0;
   background-repeat: repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:20vh 0px;
   
}

.mainContainer h2{
   font-size:58px;
   font-weight:800;
   color:transparent;
   background-clip: text;
   background-image: linear-gradient(to right, #7d44af,#FA00FF,#FA00FF,#7d44af);
   margin-top:84px;
   
   background-size: 200% 100%;
   animation: backgroundPan 5s linear infinite forwards; 
}

@keyframes backgroundPan{
   from{
      background-position: 200% 100%;
   }
   to{
      background-position: 0% 100%;
   }
}

.mainContainer h2 span{
   color:white;
}




.contactForm{
   display: flex;
   flex-direction: column;
   padding:48px;
   
   margin-top:42px;
   gap:12px;
   width:40vw;
   border-radius:2rem;
   background-color: white;
}

.contactForm .formGroup {
   position: relative;
   margin-bottom: 20px;
   width:100%;
   box-sizing: border-box;
}


.contactForm .formGroup input{
   width:100%;
   height:48px;
   border:unset;
   border-bottom:2px solid #B6B6B6;
   padding:0px 18px;
   font-size: 18px;
   box-sizing: border-box;
   transition: all 0.25s ease;
   color:rgb(117, 75, 177);
}


.contactForm .formGroup label {
   position: absolute;
   top: 50%;
   left: 0;
   height:100%;
   pointer-events: none;
   transition: 0.25s ease all;
   display:flex;
   align-items: center;
   transform: translateY(-50%);
   color:#B6B6B6;
   font-weight:500;
}

.formGroup input:focus + label,
.formGroup input:active + label,
.formGroup.hasValue input + label
{
   transform: translateY(-100%);
   font-size: 12px;
   font-weight: 500;
}



.contactForm textarea{
   font-family: inherit;
   border: 2px solid #B6B6B6;
   display: flex;
   width: 100%;
   height: 212px;
   padding: 12px 18px;
   align-items: flex-start;
   gap: 10px;
   border-radius: 17px;
   transition: all 0.25s ease;
   box-sizing: border-box;
   margin:36px 0px 24px 0px;

}

.errorMessage{
   position:absolute;
   left:0px;
   top:100%;
   width:100%;
   font-size:11px;
   color:red;
}

.contactForm .formGroup.hasError input:focus + label,
.contactForm .formGroup.hasError input{
   color:rgb(234, 49, 39);
}

.contactForm .formGroup.hasError input {
   border-bottom:2px solid rgb(234, 49, 39);
}


.contactForm input:active,
.contactForm textarea:active,
.contactForm input:focus
{
   border:unset;
   border-bottom:2px solid rgb(117, 75, 177);
   outline:none;
   box-shadow:unset;
}
.contactForm textarea:focus{
   border:unset;
   outline: unset;
   border:2px solid rgb(117, 75, 177);
}



.contactForm button{
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   background-color:black;
   width:auto;
   color:white;
   cursor:pointer;
   border-radius: 30px;
   position:relative;
   z-index:1;
   border:unset;
   padding:12px 28px;
   overflow: hidden;
   transition:all 0.2s linear;
   font-size:18px;
   font-weight:600;
   gap:20%;
}

.contactForm button svg{
   transform: scale(1.1);
   position:absolute;
   opacity: 0;
}



.contactForm button:disabled{
   cursor: not-allowed;
   background-color: grey;
}


.contactForm button:not(:disabled):before{
   content:'';
   position:absolute;
   left:0px;
   top:0px;
   width:0%;
   height:100%;
   border-radius: inherit;
   background-image: linear-gradient(to right, #3f1267,#89188b,#e360cd);
   z-index:-1;
   transition:width 0.2s ease,opacity 0.2s ease;
   opacity: 0;
   
}



.contactForm button:hover::before{
   width:100%;
   opacity: 1;
}

