@property --gradient-angle{
   syntax: "<angle>";
   initial-value: 0deg;
   inherits:false;
}


.cardSectionWrapper{
   width:100%;
   height:200vh;
   background-color: black;
   color:white;
   display:flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
}

.cardsSectionSecondaryWrapper{
   width:70vw;
   display:flex;
   flex-direction: column;
   align-items: baseline;
   /* border:1px solid red; */
}

.cardsMainParagraph{
   font-weight:500;
   width:50vw;
   /* border:1px solid white; */
}

.cardsMainParagraph:nth-of-type(1){
   color:transparent;
   background-clip: text;
}

.cardsMainParagraph:nth-of-type(2){
   color:rgb(128, 128, 128);
   background-clip: text;
}




.titlesContainer{
   display:flex;
   flex-direction:row;
   width:100%;
   /* border:2px solid salmon; */
   justify-content: center;
   gap:84px;
   padding-top:48px;
}

.titlesContainer h3 {
   
   font-weight: 500;
   width: 128px;
   max-width: 33vw;
   white-space: normal;
   font-size: 16px;
   color: rgb(255, 255, 255, 0.3);
   
}

.titlesContainer h3:hover {
   cursor: pointer;
   color: rgb(255, 255, 255, 0.4);
}



/* /////////////////////////////////////////
///////////// CAROUSEL SECTION  ////////////
///////////////////////////////////////// */

.carouselWrapper{
   border:1px solid red;
   width:100vw;
   height:40vh;
   margin-top:48px;
   display:flex;
   gap:10vw;
   overflow: show;
   box-sizing: border-box;
   padding-left: 40vw;
}

.cardsContainer{
   display:flex;
   gap:var(--carousel-gap);
   position:relative;
  
}

.inactiveCard{
   opacity:0.3;
   transform:scale(0.9);
   filter:blur(10px);
   
}





/* ECOMMERCE */



.ecommerceCard{
   aspect-ratio: calc(360/500);
   height:100%;
   border-radius: 30px;
   background: black;
   display:flex;
   flex-direction:column;
   white-space:normal;
   box-sizing: border-box;
   position:relative;
   z-index:1;
   padding:3px;
   transition:transform 0.5s ease,opacity 0.5s ease;
   overflow: show;
}

.cardContent{
   padding:20px;
   height:100%;
   width:100%;
   position:relative;
   z-index:100;
   background-color: black;
   border-radius:28px;
   box-sizing: border-box;
   display: flex;
   flex-direction:column;
}

.ecommerceCard h2{
   text-align: center;
   width:100%;
   color:rgb(56, 56, 56);
   margin-top:65%;
   transition:all 0.5s ease;
   
   
}

.ecommerceCard h3{
   text-align: center;
   width:100%;
   color:transparent;
   background-clip: text;
   transition: opacity 0.5s ease;
}

.ecommerceCard.legendaryCard h3{
   background-image: linear-gradient(to right,#68FFDB, #55C2FF );  
}

.ecommerceCard.rareCard h3{
   background-image: linear-gradient(to right,#6B97FA, #87C5FF );  
}

.ecommerceCard.mythicalCard h3{
   background-image: linear-gradient(to right,#FFCF97, #98F9FF );  
}


.ecommerceCard img{
   position:absolute;
   top:15%;
   left:50%;
   transform:translateX(-50%);
   height:38.7%;
   padding:0px 5%;
   box-sizing: border-box;
   transition:all 0.6s ease;
   
}


.ecommerceCard p{
   opacity:0;
   width:100%;
   color:rgb(117, 117, 117);
   margin-top:12px;
   position:absolute;
   top:50%;
   transition:all 0.5s ease;
   left:0px;
   padding:0px 20px;
   box-sizing: border-box;

}

.ecommerceCard .ratingDiv{
   display:flex;
   width:100%;
   gap:10px;
   position:absolute;
   bottom:18%;
   transition:all 0.5s ease;
   font-weight:600;
   cursor:pointer;
}

.ecommerceCard .ratingDiv span{
   font-size:14px;
   color:white
}



.ecommerceCard span{
   font-weight:700;
}


.priceAndButtonContainer{
   width:100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: auto;
}

.ecommerceCardButton{
   width:auto;
   background-color: black;
   outline:unset;
   border:unset;
   color:#68FFDB;
   position:relative;
   border-radius: 20px;
   padding:4px 8px;
   font-weight: 700;
   transition:all 0.25s ease;
}


.ecommerceCardButton:hover{
   cursor:pointer;
   background-color:transparent;
   color:rgb(35, 35, 38);
}

.ecommerceCardButton::before{
   content:'';
   position:absolute;
   inset:-2px;
   background-image:conic-gradient(from var(--gradient-angle), #68FFDB, #55C2FF,#55C2FF,#68FFDB);
   border-radius: inherit;
   animation: rotateGradient 10s linear infinite;
   z-index:-1;
}


/* Ecommerce card effects  */



.ecommerceCard:hover img{
   transform: translateY(-70%) translateX(-50%);
}

.ecommerceCard:hover h2{
   transform: translateY(-200%);
   color:transparent;
   background-clip: text; 
   
}

.ecommerceCard.legendaryCard:hover h2{
   background-image: linear-gradient(to right,#68FFDB, #55C2FF );
}

.ecommerceCard.rareCard:hover h2{
   background-image: linear-gradient(to right,#6B97FA, #87C5FF );
}

.ecommerceCard.mythicalCard:hover h2{
   background-image: linear-gradient(to right,#FFCF97, #98F9FF );
}


.ecommerceCard:hover h3{
   opacity:0.3;
}

.ecommerceCard:hover p{
   opacity:1;
   top:45%;


}


.ecommerceCard:before,
.ecommerceCard:after{
   content:'';
   position:absolute;
   inset:0px;
   border-radius: inherit;
   animation: rotateGradient 4s linear infinite;
   z-index:-1;
}

.ecommerceCard.legendaryCard:before,
.ecommerceCard.legendaryCard:after{
   background-image:conic-gradient(from var(--gradient-angle), #68FFDB, #55C2FF,#55C2FF,#68FFDB);
}

.ecommerceCard.rareCard:before,
.ecommerceCard.rareCard:after{
   background-image:conic-gradient(from var(--gradient-angle), #6B97FA, #87C5FF,#87C5FF,#6B97FA);
}

.ecommerceCard.mythicalCard:before,
.ecommerceCard.mythicalCard:after{
   background-image:conic-gradient(from var(--gradient-angle), #FFCF97, #98F9FF,#98F9FF,#FFCF97);
}


.ecommerceCard.legendaryCard:after{
   filter:blur(30px);
   opacity:0.5;
}

.ecommerceCard.rareCard:after{
   filter:blur(30px);
   opacity:0.3;
}

.ecommerceCard.mythicalCard:after{
   filter:blur(30px);
   opacity:1;
}






 








@keyframes rotateGradient {
   0% { 
      --gradient-angle:0deg;
      
   }
   100% { 
      --gradient-angle:360deg;
   }
}





@media only screen and (min-width: 993px) and (max-width: 1200px) {
   .cardsMainParagraph{
      font-size:18px;
   }
}

/* Extra large devices (larger laptops, desktops) */
@media only screen and (min-width: 1201px) {

   
   .cardsMainParagraph:nth-of-type(1){
      margin-top: 16vh;
      font-size:20px;
   }
   .cardsMainParagraph:nth-of-type(2){
      margin-top: 84px;
      font-size:18px;
      font-weight: 500;
      margin-bottom:46px;
   }

   .cardsMainParagraph:nth-of-type(3){
      
      font-size:18px;
      font-weight: 500;
      
   }

   .ecommerceCard h2{
      font-size:34px;
      font-weight: 800;
   }

   .ecommerceCard p{
      font-size:14px;
      font-weight: 500;
   }

   .ecommerceCard span{
      font-weight:700;
      font-size:20px;
   }
}




 


