@property --gradient-angle{
   syntax: "<angle>";
   initial-value: 0deg;
   inherits:false;
}


 



.cardSectionWrapper{
   width:100%;
   height:200vh;
   background-color: black;
   color:white;
   display:flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
}

.cardsSectionSecondaryWrapper{
   width:70vw;
   display:flex;
   flex-direction: column;
   align-items: baseline;
   /* border:1px solid red; */
}

.cardsMainParagraph{
   font-weight:500;
   width:50vw;
   /* border:1px solid white; */
}

.cardsMainParagraph:nth-of-type(1){
   color:transparent;
   background-clip: text;
}

.cardsMainParagraph:nth-of-type(2){
   color:rgb(128, 128, 128);
   background-clip: text;
}




.titlesContainer{
   display:flex;
   flex-direction:row;
   width:100%;
   /* border:2px solid salmon; */
   justify-content: center;
   gap:84px;
   padding-top:48px;
}

.titlesContainer h3 {
   font-weight: 500;
   width: 128px;
   max-width: 33vw;
   white-space: normal;
   font-size: 16px;
   color: rgb(255, 255, 255, 0.3);
   
}

.titlesContainer h3:hover {
   cursor: pointer;
   color: rgb(255, 255, 255, 0.4);
}



/* /////////////////////////////////////////
///////////// CAROUSEL SECTION  ////////////
///////////////////////////////////////// */

.carouselWrapper{
   border:1px solid red;
   width:100%;
   height:40vh;
   margin-top:48px;
   
}


/* ECOMMERCE */


.ecommerceCard{
   aspect-ratio: calc(360/500);
   height:100%;
   border-radius: 30px;
   background: black;
   display:flex;
   flex-direction:column;
   white-space:normal;
   box-sizing: border-box;
   position:relative;
   z-index:1;
   padding:3px;
}

.cardContent{
   padding:20px;
   height:100%;
   width:100%;
   position:relative;
   z-index:100;
   background-color: black;
   border-radius:28px;
   box-sizing: border-box;
}

.ecommerceCard:before,
.ecommerceCard:after{
   content:'';
   position:absolute;
   inset:0px;
   
   background-image:conic-gradient(from var(--gradient-angle), #68FFDB, #55C2FF,#55C2FF,#68FFDB);
   border-radius: inherit;
   animation: rotateGradient 4s linear infinite;
   z-index:-1;
}

.ecommerceCard:after{
   filter:blur(30px);
   opacity:0.5;
}

@keyframes rotateGradient {
   0% { --gradient-angle:0deg;}
   100% { --gradient-angle:360deg;}
}




 

.ecommerceCard h2{
   text-align: center;
   width:100%;
}
.ecommerceCard h3{
   text-align: center;
   width:100%;
}

.ecommerceCard p{
   width:100%;
}





@media only screen and (min-width: 993px) and (max-width: 1200px) {
   .cardsMainParagraph{
      font-size:18px;
   }
}

/* Extra large devices (larger laptops, desktops) */
@media only screen and (min-width: 1201px) {

   
   .cardsMainParagraph:nth-of-type(1){
      margin-top: 16vh;
      font-size:20px;
   }
   .cardsMainParagraph:nth-of-type(2){
      margin-top: 84px;
      font-size:18px;
      font-weight: 500;
      margin-bottom:46px;
   }

   .cardsMainParagraph:nth-of-type(3){
      
      font-size:18px;
      font-weight: 500;
      
   }
}




 


