.blackToPinkDiv{
   background-image: radial-gradient(circle at top, black 45.77%, #3b1056 49.33%,#8b1ca1 51.5%,#9811b3 52.5%,#8b1ca1 53.5%, #3b1056 55.90%,black 59.3% );
   /* background-image: radial-gradient(circle at top, black 44.77%, #2f1056 50.77%,rgb(169, 70, 184) 58.01%, white 64.20%); */
   /* background-image: radial-gradient(circle at top, black 80%,rgb(0, 0, 0) 100%); */
   height:1675vh;
   width:100vw;
   position:relative;
   left:0;
   display:flex;
   flex-direction: column;
   align-items: center;
   /* border:2px solid white;  */
   box-sizing: border-box;
   overflow: hidden;
}

.wonderText{
   word-wrap: break-word;
   overflow-wrap: break-word;
   top:20vh;
   height:100%;
   font-size:24px;
   font-weight: 600;
   letter-spacing: -4%;
   width:60vw;
   /* border:1px solid red;  */
}

.wonderText span{
   max-width:60vw;
   display:none;
   
   z-index:100;
   top:50vh;
   position:fixed;
   color:blue;
   font-weight: 500;
   font-size: 24px;
   
}

span.uniqueDesignClass{
   position:fixed;
   width:100%;
   text-align: center;
   font-weight: 700;
   font-family: 'Helvetica Neue';
   font-size:120px;
   top:60vh;
   left:50vw;
   transform: translateX(-50%);
   color:var(--main-pink);
   color:black;
   display:none;
   padding:0px;
   line-height:0.78;
   user-select: none;
   -webkit-user-drag: none;
}

span.designDescriptionSpan{
   font-weight:600;
   color:white;
   width:40vw;
   position:fixed;
   opacity:0;
   bottom:30vh;
   font-size:20px;
   display: none;
} 

.desktopContainer{
   opacity:0;
   height:50vh;
   aspect-ratio: calc(1380/835);
   position:fixed;
   top:100vh;
   /* border:1px solid red; */
   display:none;
   flex-shrink: 0;
}


@media only screen and (min-width:1069px){
   .wonderText{
      margin-top:250px;
   }
}

@media only screen and (max-width:1068px){
   .wonderText{
      margin-top:150px;
   }

}


@media only screen and (max-width:734px){
   .wonderText span{
      font-size:18px;
   }
}




