.blackToPinkDiv{
   background-image: radial-gradient(circle at top, black 69.76%, #5d1067 76.744%,rgb(255, 184, 173) 83.72%);
   /* background-image: radial-gradient(circle at top, black 80%,rgb(0, 0, 0) 100%); */
   height:1075vh;
   width:100vw;
   position:relative;
   left:0;
   display:flex;
   flex-direction: column;
   align-items: center;
   border:2px solid white; 
   box-sizing: border-box;
   overflow: hidden;
}

.wonderText{
   word-wrap: break-word;
   overflow-wrap: break-word;
   top:20vh;
   height:100%;
   font-size:24px;
   font-weight: 600;
   letter-spacing: -4%;
   width:60vw;
   /* border:1px solid red;  */
}

.wonderText span{
   max-width:60vw;
   display:none;
   top:50vh;
   z-index:100;
   transform:translateY(-50%);
   position:fixed;
   color:white;
   
}

span#design{
   position:sticky;
   width:100%;
   text-align: center;
   font-weight: 700;
   font-family: 'Helvetica Neue';
   font-size:25vw;

   color:var(--main-pink);
   color:black;
}

span.designDescriptionSpan{
   font-weight:600;
   color:black;
   width:40vw;
   position:absolute;
   opacity:0;
   bottom:30vh;
   font-size:20px;
} 

.ipadContainer{
   opacity:1;
   width:70vw;
   aspect-ratio: 3000/2309;
   position:fixed;
   top:101vh;
   display:none;
   
   flex-shrink: 0;
}

.ipadContainer > *::before {
   content:"";
   position:absolute;
   box-shadow:-100px 20px 100px 10px grey;
}



@media only screen and (max-width:734px){

}

@media only screen and (max-width:1068px){
   .wonderText{
      margin-top:150px;
   }

}


@media only screen and (min-width:1069px){
   .wonderText{
      margin-top:250px;
   }
}