.notesSectionContainer{
   height:170vh;
   width:100%;
   color:white;
   background-image:radial-gradient(ellipse at center top, rgb(13, 13, 13) 10%, black);
	background-size:600% 100%;
  	background-position: center center; 
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top:15vh;
}

.noteParagraph{
   background-color: rgb(32, 32, 32);
   box-sizing: border-box;
   padding:12px 14px;
   border-radius: 22px;
   color:rgb(205, 205, 205);
   max-width: 490px;
   font-weight:400;
   font-size:18px;
   display: inline-block;
   width:auto;
   
}

.messagesContainer{
   display:flex;
   flex-direction: column;
}

.messageDiv{
   opacity: 0;
   top:34px;
   display: inline-block; 
   height: auto;
   margin-bottom:8px;
}




.messageDiv svg{
   fill:rgb(32, 32, 32);
   /* fill:#1b0134; */
   bottom:0px;
   left:-3.6px;
   display: inline-block;
   height:22px;
   position: absolute;
}
.notesSectionContainer img{
   opacity:0;
   margin-bottom:48px;
}



