.notesSectionContainer{
   height:auto;
   width:100%;
   color:white;
   background-image:linear-gradient(to bottom, rgb(13, 13, 13) 10%, rgb(0, 0, 0) 100%);
	background-size:600% 100%;
  	background-position: center center; 
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top:15vh;
}

.noteParagraph{
   background-color: rgb(32, 32, 32);
   box-sizing: border-box;
   padding:12px 14px;
   border-radius: 22px;
   color:rgb(205, 205, 205);
   max-width: 490px;
   font-weight:400;
   font-size:18px;
   display: inline-block;
   width:auto;
}

.messagesContainer{
   display:flex;
   flex-direction: column;
}

.messageDiv{
   opacity: 0;
   top:34px;
   display: inline-block; 
   height: auto;
   margin-bottom:8px;
}




.messageDiv svg{
   fill:rgb(32, 32, 32);
   /* fill:#1b0134; */
   bottom:0px;
   left:-3.6px;
   display: inline-block;
   height:22px;
   position: absolute;
}
.notesSectionContainer img{
   opacity:0;
   margin-bottom:48px;
}

@media only screen and (min-width:1069px){
   .noteParagraph{
      max-width: 490px;
   }
   .notesSectionContainer{
      margin-bottom:40vh;
   }
}

@media only screen and (max-width:1068px){
   .noteParagraph{
      max-width: 490px;
   }
   .notesSectionContainer{
      margin-bottom:40vh;
   }
   
}


@media only screen and (max-width:734px){
   .noteParagraph{
      max-width: 490px;
      font-size:17px;
   }
   .messageDiv{
      padding:0px 18px;
   }
   .notesSectionContainer{
      margin-bottom:30vh;
   }

   .messageDiv svg{
      
      left:14.6px;
    
   }
      
}

@media only screen and (max-width:471px){
   .noteParagraph{
      max-width: 490px;
      font-size:16px;
   }
   .messageDiv{
      padding:0px 16px;
   }
   .notesSectionContainer{
      margin-bottom:30vh;
   }


   .messageDiv svg{
      
      left:12.8px;
    
   }
}

@media only screen and (max-width:340px){
   .noteParagraph{
      max-width: 490px;
      font-size:16px;
   }

   .messageDiv{
      padding:0px 16px;
   }
   .notesSectionContainer{
      margin-bottom:30vh;
   }

   .messageDiv svg{
      
      left:12.6px;
      
   }
}


