.navbar{
   position:absolute;
   top:0px;
   width:100vw;
   height:78px;
   padding:0px 20px;
   box-sizing: border-box;
   display:flex;
   align-items: center;
   color:var(--dim-pink);
   justify-content: flex-end;
   z-index:100;
   opacity:1;
   font-family: inherit;
}

.navbarNavlinksWrapper * {
   opacity:0;
}

.navbarNavlinksWrapper{
   display:flex;
   align-items: center;
   justify-content: flex-end;
   gap:3.5vw;
}

button.navLink{
   background-color: transparent;
   outline:none;
   border:none;
   background-image: none;
   cursor:pointer;
   font-weight: 500;
   font-family: inherit;
}

.navLink{
   font-weight: 500;
   color:var(--dim-pink);
   text-decoration: none;
   transition:color 0.25s ease;
}

.logoIcon{
   margin-right:auto;
   height:48px;
   width:48px;
   cursor:pointer;
   border-radius:10px;
   overflow: hidden;
   box-shadow: 0px 0px 3px -3px #F3ACFF;
   transition:all 0.2s;
   opacity: 0;
   position:relative;
}

.logoIcon:hover{
   box-shadow: 0px 0px 15.125px -0.125px #F3ACFF;
}

.navLink:hover{
   color:var(--main-pink);
}

.hamburgerIcon{
   display:flex;
   flex-direction: column;
   height:16px;
   position: relative;
   z-index: 3;
   box-sizing: border-box;
   
}

.hamburgerIcon:hover{
   cursor: pointer;
}

.hamburgerStroke{
   width:28px;
   height:2.5px;
   border-radius:4px;
   background-color: white;
   flex-shrink: 0;
   transform-origin: center;
}

.hamburgerStroke:nth-child(2){
   margin-top:auto;
}

.navbarDropdownWrapper{
   opacity:0;
   box-sizing: border-box;
   position:fixed;
   width:100vw;
   height:100vh;
   inset:0;
   z-index:2;
   background: radial-gradient(354.32% 102.23% at 49.87% 100.00%, rgba(0, 0, 0,0.8) 60% , rgba(67, 18, 106,0.8) 120%);
   backdrop-filter: blur(20px);
   visibility: hidden; 
   opacity: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:24px;
   
   
}

 
.navbarDropdownWrapper .navLink{
   color:rgb(219, 219, 219);
   font-weight: 500;
   top:-20;
   opacity:0;      
   transition:font-weight 0.2s ease, color 0.2s ease;
            
            
}

.navbarDropdownWrapper .navLink:hover{
   color:white;
   font-weight: 600;
}







@media only screen and (max-width: 734px){
   .navLink{
      font-weight:600;
      font-size:18px;
   }
   .navbarNavlinksWrapper{
      display:none;
   }
   .navbarDropdownWrapper .navLink{
      font-size:22px;
   }
   
}

@media only screen and (min-width: 734px){
   .navLink{
      font-weight:500;
      font-size:16px;
   }
   .hamburgerIcon{
      display:none;
   }
   .navbarDropdownWrapper{
      display:none;
   }
   
}

@media only screen and (min-width: 735px) and (max-width: 1068px){
   .navLink{
      font-weight:500;
      font-size:16px;
   }
}

@media only screen and (min-width: 1069px){
   .navLink{
      font-weight:500;
      font-size:16px;
   }
}

