.navbar{
   position:absolute;
   top:0px;
   width:100vw;
   height:48px;
   padding:48px;
   gap:3vw;
   box-sizing: border-box;
   display:flex;
   align-items: center;
   color:var(--dim-pink);
   justify-content: flex-end;
   z-index:100;
   opacity:1;
   
}

.navLink{
   font-weight: 500;
   color:var(--dim-pink);
   text-decoration: none;
   transition:color 0.25s ease;
}

.navLink:hover{
   color:var(--main-pink);
}
