.mainContainer{
   height:auto;
   left:24px;
   padding-top:24px;
   margin-top:24px;
   width:calc(100vw - 48px);
   min-height:800px;
   background-image: radial-gradient(100% 120% at 50% 0%, rgb(251, 190, 240) -30%, #8b1e97  -10%,   rgb(42, 9, 75) -5%,rgb(0, 0, 0) 50%); 
   /* background-image:radial-gradient(100% 120% at 50% 0%, rgb(13,13,13) 0%, #2B0A4F 54.54%, #AF4DC9 100%); */
   background-position: 0 0,0 0;
   background-size:200% 100%;
   background-position:center;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:5vh 0px;
   border-radius: 30px;
   box-shadow: inset 0px 0px 70px 10px rgba(255, 255, 255, 0.052);
}



.mainContainer h2{
   font-size:58px;
   font-weight:800;
   color:transparent;
   background-clip: text;
   background-image: linear-gradient(to right, #d6add3,white,#d6add3);
   margin-top:48px;
   
   background-size: 200% 100%;
   animation: backgroundPan 5s linear infinite forwards; 

   opacity: 0;
}

@keyframes backgroundPan{
   from{
      background-position: 200% 100%;
   }
   to{
      background-position: 0% 100%;
   }
}

.mainContainer h2 span{
   color:black;
}




.contactForm{
   display: flex;
   flex-direction: column;
   padding:48px;
   box-sizing: border-box;
   margin-top:32px;
   gap:12px;
   width:40vw;
   border-radius:2rem;
   background-color: rgba(255, 255, 255, 0.1);
   margin-bottom:100px;
   opacity: 0;
   top:10vh;
}

.contactForm .formGroup {
   position: relative;
   margin-bottom: 20px;
   width:100%;
   box-sizing: border-box;
}


.contactForm .formGroup input{
   width:100%;
   height:48px;
   border:unset;
   border-bottom:2px solid rgb(206, 206, 206);
   padding:0px 18px;
   font-size: 18px;
   box-sizing: border-box;
   transition: all 0.25s ease;
   color:rgb(255, 255, 255);
   background-color: transparent;
}


.contactForm .formGroup label {
   position: absolute;
   top: 50%;
   left: 0;
   height:100%;
   pointer-events: none;
   transition: 0.25s ease all;
   display:flex;
   align-items: center;
   transform: translateY(-50%);
   color:rgb(206, 206, 206);
   font-weight:500;
}

.formGroup input:focus + label,
.formGroup input:active + label,
.formGroup.hasValue input + label
{
   transform: translateY(-100%);
   font-size: 12px;
   font-weight: 500;
   
}

.formGroup textarea:focus + label,
.formGroup textarea:active + label,
.formGroup.hasValue textarea + label{
   transform: translateY(calc(-100% + 20px));
   font-size: 12px;
   font-weight: 500;
   margin-left:0px;

}
.formGroup textarea+ label{
   margin-left:12px;
}

.contactForm textarea{
   font-family: inherit;
   border: 2px solid rgb(206, 206, 206);
   display: flex;
   width: 100%;
   height: 212px;
   padding: 12px 18px;
   align-items: flex-start;
   gap: 10px;
   border-radius: 25px;
   transition: all 0.25s ease;
   box-sizing: border-box;
   margin:36px 0px 24px 0px;
   font-size:inherit;
   font-weight: inherit;
   color:white;
   resize: none;
   background-color: transparent;
}

.errorMessage{
   position:absolute;
   left:0px;
   top:100%;
   width:100%;
   font-size:11px;
   color:#ff2424;
   opacity:1;
   transition:opacity 1s ease;
}

.errorMessage.textAreaSpan{
   top:calc(100% - 12px);
}


.contactForm .formGroup.hasError input:focus + label,
.contactForm .formGroup.hasError input{
   color:#ff2424;
}

.contactForm .formGroup.hasError input {
   border-bottom:2px solid #ff2424;
}


.contactForm input:active,
.contactForm textarea:active,
.contactForm input:focus{
   border:unset;
   border-bottom:2px solid rgb(214, 185, 255);
   outline:none;
   box-shadow:unset;
   
   
}
.contactForm textarea:focus{
   border:unset;
   outline: unset;
   border:2px solid rgb(214, 185, 255);
}



.contactForm button{
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   background-color:black;
   width:auto;
   color:white;
   cursor:pointer;
   border-radius: 30px;
   position:relative;
   z-index:1;
   border:unset;
   padding:12px 28px;
   overflow: hidden;
   transition:all 0.2s linear;
   font-size:18px;
   font-weight:600;
   gap:20%;
}

.contactForm button svg{
   transform: scale(1.1);
   position:absolute;
   opacity: 0;
}



.contactForm button:disabled{
   cursor: not-allowed;
   background-color: rgb(206, 206, 206);
}


.contactForm button:not(:disabled):before{
   content:'';
   position:absolute;
   left:0px;
   top:0px;
   width:0%;
   height:100%;
   border-radius: inherit;
   background-image: linear-gradient(to right, #d02ed3,#ffbcf4);
   z-index:-1;
   transition:width 0.2s ease,opacity 0.2s ease;
   opacity: 0;
   
}



.contactForm button:hover::before{
   width:100%;
   opacity: 1;
}




@media only screen and (min-width:1069px){

}

@media only screen and (max-width:1068px){
   .mainContainer h2{
      max-width:85%;
      font-size:48px;
      font-weight:800;
      margin-top:48px;
      
   }

   .contactForm{
      width:90%;
      max-width:600px;
   }
}


@media only screen and (max-width:734px){
   .mainContainer h2{
      max-width:80%;
      font-size:38px;
      font-weight:800;
      margin-top:48px;
   }

   .contactForm{
      width:90%;
      margin-bottom:42px;
   }
}

@media only screen and (max-width:471px){
.mainContainer{
      width:100vw;
      left:0px;
      padding-top:24px;
      margin-top:24px;
   }

   .mainContainer h2{
      max-width:80%;
      font-size:36px;
      font-weight:800;
      margin-top:48px;
      
   }

   .contactForm{
      padding:48px;
      margin-top:32px;
      gap:12px;
      width:90vw;
      border-radius:22px;
      margin-bottom:22px;
      top:10vh;
   }

   .contactForm .formGroup input{
      border-bottom:1.5px solid rgb(206, 206, 206);
   }

   .contactForm .formGroup textarea{
      border:1.5px solid rgb(206, 206, 206);
   }

   .contactForm .formGroup input,
   .contactForm .formGroup label,
   .contactForm .formGroup textarea{

      font-size: 15px;
      font-weight:500;
   }

   .contactForm button{
   
      width:auto;
      border-radius: 32px;
      padding:8px 20px;
      font-size:16px;
      font-weight:600;
   }
}

@media only screen and (max-width:320px){
   .mainContainer{
      width:100vw;
      left:0px;
      padding-top:24px;
      margin-top:24px;
   }

   .mainContainer h2{
      font-size:34px;
      font-weight:800;
      margin-top:48px;
      
   }

   .contactForm{
      padding:48px;
      margin-top:32px;
      gap:12px;
      width:90vw;
      border-radius:22px;
      margin-bottom:100px;
      top:10vh;
   }


   .contactForm .formGroup input{
      border-bottom:1.3px solid rgb(206, 206, 206);
   }

   .contactForm .formGroup textarea{
      border:1.3px solid rgb(206, 206, 206);
   }

   .contactForm .formGroup input,
   .contactForm .formGroup label,
   .contactForm .formGroup textarea{

      font-size: 15px;
      font-weight:500;
   }

   .contactForm button{
   
      width:auto;
      border-radius: 32px;
      padding:8px 20px;
      font-size:16px;
      font-weight:600;
   }
}
